footer {
    text-align: center;
}

.article {
    margin-top: 30px;
    margin-bottom: 35px;
    overflow: hidden;
}

.article em {
    color: rgb(119, 119, 119);
}

.article h3 {
    font-size: 20px;
}

#blog {
    color: rgb(51, 122, 183);
    font-size: 28px;
    padding-left: 0px;
}

#admin_table {
    margin-top: 45px;
}

.form-item {
    width: 100%;
}

#addart textarea {
    height: 250px;
}

input[type="submit"] {
    width: 100px;
}

#addart label {
    width: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}